



@use "utilidades/variables";



//nesting
header{
    .falso-body{
        display: grid;
        grid-template-areas: 
        "bienvenida bienvenida bienvenida"
        "contenedor-titulo-principal contenedor-menu contenedor-menu"
        "contenedor-titulo-principal contenedor-menu contenedor-menu"
        "mensaje-publi mensaje-publi mensaje-publi"
        "mini-desc-produ mini-desc-produ mini-desc-produ";
        gap: 2px;
        .bienvenida{
            text-align: center;
            background-color: variables.$color-principal;
            color: white;
            grid-area: bienvenida;
        }
        .contenedor-titulo-principal{
            text-align: center;
            background-color: variables.$color-principal;
            color: rgb(255, 255, 255);
            grid-area: contenedor-titulo-principal;
        }
        .contenedor-menu{
            list-style: none;
            text-decoration: none;
            text-decoration-color:rgb(226, 186, 133); 
            background-color: variables.$color-principal;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-area: contenedor-menu;
            height: 37.9px;
        }
        .mini-desc-produ{
            text-align: center;
            background-color: variables.$color-principal;
            color: rgb(255, 255, 255);
            grid-area: mini-desc-produ;
        }
}
}

body{
    background-color: rgb(255, 223, 181);
    h4{
    text-align: center;
    background-color: variables.$color-principal;
    color: rgb(255, 255, 255);
    }
    p{
    background-color: variables.$color-principal;
    color: rgb(255, 255, 255);
    }

}

footer{
    background-color: rgb(227, 176, 109);
    width: auto;
    height: 50px;
    .informacion-pagos-envios{
    background-color: rgb(255, 145, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
        .pagos{
            background-color: variables.$color-principal;
        }
        .envios{
            background-color: variables.$color-principal;
        }
        .redes{
            background-color: variables.$color-principal;
        }
        .contacto{
            background-color: variables.$color-principal;
        }
    }
}